<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />

    <title>App Name</title>
  </head>

  <body>
    <% if flash[:notice] %>
      <%= flash[:notice] %>
    <% end %>

    <%= yield %>
  </body>
</html>